/* Common */
body {
  font-size: 100%;
  font-family: 'Montserrat', Roboto, Helvetica, sans-serif;
  color: #fff;
  background-color: #007fff;
  font-weight: 400;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

h1, .h1 {
  font-size: 48px;
  font-weight: 600;
}

h2, .h2 {
  font-size: 36px;
  font-weight: 600;
}

a.underline {
  display: table;
  text-decoration: none;
  color: currentColor;
}

a.underline::after {
  content: "";
  display: block;
  border-bottom: 6px solid currentColor;
  width: 0;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

a.underline:hover::after{
  width: 100%;
}

.no-list {
  list-style: none;
  padding: 0;
}

.go-to-contacts {
  position: absolute;
  top: 65px;
  right: $screen-margin-right;
  text-transform: lowercase;
}

// round back button
.back {
  float: left;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;

  & > img {
    width: 50px;
  }

  &:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

@media (max-height: $height-md) {
  body {
    font-size: 12px;
  }

  h1, .h1 {
    font-size: 44px;
    font-weight: 400;
  }

  h2, .h2 {
    font-size: 32px;
    font-weight: 300;
  }

  .go-to-contacts {
    font-weight: 400;
  }

  a.underline::after {
    border-width: 3px;
  }
}