.contacts {
  padding: $screen-margin-top 0 0 $screen-margin-left;
  .contact-list {
    font-style: normal;

    .underline {
      display: inline-block;

      &::after {
        border-width: 3px;
      }
    }
  }

  .back {
    + .h2 {
      margin: 0;
      margin-left: $inner-margin-left;
      line-height: 50px;
    }
  }

  .address-wrapper {
    padding: 64px 0 0 $inner-margin-left;
  }

  .contact-by {
    font-size: 24px;
    padding-bottom: 20px;
  }

  @media (max-height: $height-md) {
    .back {
      + .h2 {
        font-weight: 400;
      }
    }

    .contact-by {
      font-weight: 300;
      font-size: 22px;
      & > strong {
        font-weight: 400;
      }
    }
  }
}