/* Homepage */
body.home {
  overflow: hidden;
  padding: 0;
}

.home {
  padding: 214px 0 45px 200px;

  .name {
    margin-top: 0;
    font-weight: 600;
    margin-bottom: 0;
    margin-right: $screen-margin-right;
  }

  .location {
    font-weight: 400;
    margin-top: 10px;
    margin-right: $screen-margin-right;
  }

  .projects {
    padding-top: 40px;
    padding-bottom: 70px;
  }

  .projects-header {
    margin-bottom: 15px;
  }

  .swiper-container {
    overflow: visible;
  }

  .swiper-wrapper {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .swiper-slide {
    height: 320px;
    width: 460px;
    float: left;
    margin-right: 15px;
    overflow: hidden;

    & > a {
      text-decoration: none;

      & > figure {
        margin: 0;
      }
    }

    &:hover {
      .badge {
        bottom: 0;
      }
    }
  }

  .swiper-container {
    height: 276px;
  }

  .go-to-contacts,
  .projects-link {
    text-decoration: none;
    color: currentColor;
    text-transform: lowercase;
  }

  .badge {
    font-size: 20px;
    line-height: 60px;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: -75px;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;

    &.green {
      background-color: #38bfa4;
      color: #000;
    }

    &.pink {
      background-color: #f68392;
      color: #fff;
    }

    &.dark {
      background-color: #2d3a47;
      color: #fff;
    }

    &.white {
      background-color: #fff;
      color: #171d5b;
    }
  }
}

