.project-details {
  padding: $screen-margin-top 0 0 $screen-margin-left;

  .back {
    float: left;
  }

  .project-name {
    margin: 0;
    margin-left: $inner-margin-left;
    line-height: 50px;
    margin-bottom: 69px;
  }

  .project-body {
    margin: 0;
    padding-left: $inner-margin-left;
    margin-right: $screen-margin-right;
    max-width: 1040px;
    margin-bottom: 140px;
  }

  .project-description {
    & > p {
      margin: 0;
      font-size: 20px;
      line-height: 32px;
      max-width: 400px;

      & + p {
        margin-top: 35px;
      }
    }
  }

  .project-image {
    margin-left: 159px;
    @media (max-width: $width-md) {
      float: none;
      margin-left: 0;
    }
  }

  &.project-nav {
    padding-top: 0;
    padding-left: $screen-margin-left + $inner-margin-left;
    margin-right: $screen-margin-right;
    box-sizing: content-box;
    max-width: 1034px;
  }

  @media (max-height: $height-md) {
    padding-top: 140px;

    .project-name {
      font-weight: 400;
    }

    .project-body {
      margin-bottom: 30px;
    }

    .project-description {
      & > p {
        font-weight: 300;
        font-size: 16px;
        line-height: 28px;
      }
    }

    &.project-nav {
      margin-bottom: 65px;

      & > .h2 {
        font-weight: 400;
      }
    }
  }
}