.project-details {
  padding: $screen-margin-top 0 0 $screen-margin-left;

  .back {
    float: left;
  }

  .project-name {
    margin: 0;
    margin-left: $inner-margin-left;
    line-height: 71px;
    margin-bottom: 60px;
  }

  .project-body {
    margin: 0;
    padding-left: $inner-margin-left;
    margin-right: $screen-margin-right;
    max-width: 1034px;
    margin-bottom: 140px;
  }

  .project-description {
    & > p {
      margin: 0;
      font-size: 24px;
      line-height: 35px;

      & + p {
        margin-top: 35px;
      }
    }
  }

  .project-image {
    margin-left: 127px;
    @media (max-width: $width-md) {
      float: none;
    }
  }

  &.project-nav {
    padding-top: 0;
    padding-left: $screen-margin-left + $inner-margin-left;
    margin-right: $screen-margin-right;
    box-sizing: content-box;
    max-width: 1034px;
  }
}